<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
</head>
<body>
	<h1>Register:</h1>
	<form method="POST" action="">
		<p>
			{{ form.username.label }}
			{{ form.username() }}
		</p>
		<p>
			{{ form.email.label }}
			{{ form.email() }}
		</p>
		<p>
			{{ form.password.label }}
			{{ form.password() }}
		</p>
		<p>
			{{ form.repeat_password.label }}
			{{ form.repeat_password() }}
		</p>
		<p>
			{{ form.submit.label }}
			{{ form.submit() }}
		</p>
	</form>
	<p>Already have an account?</p>
	<a href="/login">Log In!</a>
</body>
</html>